*,*::after,*::before,html{
  padding:0;
  margin:0;
  vertical-align:baseline;
  text-decoration:none;
  font-family:ti;}
body{
  overflow-x:hidden;
  background:#000;}
@font-face{
  src:url("../resource/font/text.ttf");
  font-family:"texto";}
@font-face{
  src:url("../resource/font/titles.ttf");
  font-family:"ti";}
::-webkit-scrollbar{display:none;}
.ropa{
  width:100vw;
  height:100vh;
  background:#000;
  display: flex;}
header{
  width:100vw;
  display:flex;}
.ti{
  flex-grow:1;
  cursor:default;}
.ti>img{
  position:absolute;
  width:23vw;
  display:block;
  padding:2vh 1vw;}
.loc:hover{
  color:#fff;
  background:#ff0000;}
.loc{
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-transform:uppercase;
  border:2px solid #fff;
  font-size:1.6em;
  padding:0.7em;
  width:17.4vw;
  position:absolute;
  margin:2.5vh 0 0 78vw;
  transition:all .2s ease-in-out;
  border-radius:8px;}
.naveg{
  margin-right:28vw;
  display:flex;}
.j{
  font-size:30px;
  padding:5vh 1vw;
  flex-grow:1;
  color:#fff;
  font-weight:bold;
  transition:all .2s;
  transition-timing-function:cubic-bezier(.17,.67,.52,1.49);
  text-transform:uppercase;}
.j:hover{transform:scale(1.1);}
.prom{
  width:100vw;
  height:10vh;
  background:#000000;}
.lo{
  margin:2vh 0 0 42.5vw;
  width:15vw;}
.d2:hover{color:red;}
.gen{
  width:50vw;
  height:100vh;
  background-position-y:-3.5em;
  flex-grow:1;
  filter:grayscale(100%);
  background-repeat:no-repeat;
  background-size:cover;}
.genm{background-image:url("../resource/img/ediy.png");}
.genf{background-image:url("../resource/img/ediy1.png");}
.gen:hover{filter:grayscale(0%);}
.genf::after,.genm::after{
  content:'';
  transition:all .5s;
  transition-timing-function: cubic-bezier(.17,.67,.32,1.5);
  position:absolute;
  width:50vw;
  height:100vh;
  z-index:4;}
.genf:hover::after,.genm:hover::after{
  background:#000;
  opacity:0.7;}
.d2{
  position:absolute;
  opacity:0;
  color:#fff;
  z-index:5;
  cursor:pointer;
  font-size:6em;
  letter-spacing:-9px;
  text-shadow:-3px 4px 0px #000;
  margin:30vh;
  text-transform:uppercase;
  transition:all .6s linear;}
.genm:hover>.btnm{opacity:1;}
.genf:hover>.btnf{opacity: 1;}

.itlo{
  flex-grow: 1;
  border:1px solid #fff;
}

.icons{
  width: 100%;
  margin: bottom;
  background: blue;
  height: 51px;
  margin-top: 38.4vh;
}
.item{
  display: flex;
  width: 70vw;
border-radius: 5px;
height: 46vh;
background: red;
margin: 5vh 0 0 28vw;
}
.carrito{
  width: 21vw;
  background: #fff;
  margin: 4vh 0 0 2vw;
  border-radius: 7px;
  border: 2px solid #f00;
  height: 71vh;
  position: fixed;
}
